# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=****

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# Get your Neynar client ID here: https://dev.neynar.com
NEXT_PUBLIC_NEYNAR_CLIENT_ID=****

# Get your Neynar API key here: https://dev.neynar.com
NEYNAR_API_KEY=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****

# Get your Tavily API Key here: https://app.tavily.com
TAVILY_API_KEY=****

# Instructions on getting started with Upstash here: https://upstash.com/docs/redis/quickstarts/nextjs-app-router
UPSTASH_REDIS_REST_URL=****
UPSTASH_REDIS_REST_TOKEN=****

# Get your Zapper API Key here: https://protocol.zapper.xyz/docs/api/#1-get-an-api-key
ZAPPER_API_KEY=****

# Get your OnchainKit API Key here: https://onchainkit.xyz
NEXT_PUBLIC_ONCHAINKIT_API_KEY=****

# Get your Wallt Connect project ID here: https://cloud.reown.com
NEXT_PUBLIC_WC_PROJECT_ID=****

# Get your Google Analytics ID here: https://analytics.google.com
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=****